@import 'foundation';

@include foundation-everything;

$primary-color: #79B3D4;
$secondary-color: #cccccc;
$box-background-color: #ebebeb;
$tertiary-color: #FFFFFF;

.header-font {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
}

.body-font {
  font-family: garamond;
}

// Padding for all the box-looking elements
$box-padding: 20px;

$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

body {
  background-color: $secondary-color;
}

$logo-banner-height: 40px;
$logo-banner-padding: 5px;

.logo-banner {
  background-color: $tertiary-color;
  padding: 5px;
  height: $logo-banner-height;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  h5 {
    color: $primary-color;
    display: inline-block;
    margin-left: 10px;
    font-size: 10px;
  }
  img {
    height: $logo-banner-height - $logo-banner-padding * 2;
    margin-left: 10px;
  }
}

h1, h2, h3, h4, h5 {
  @extend .header-font;
  color: black;
}

.active {
  background-color: $secondary-color;
}

.msi-info {
  background-color: $box-background-color;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: $box-padding;
  box-shadow: $shadow;

  h4 {
    color: black;
    margin-bottom: 0;
  }
}

.launched-text {
  h5 {
    margin-bottom: 0;
  }
  margin-bottom: .5rem;
}

.nav {
  @extend .header-font;

    .top-bar, .menu {
    // color: $tertiary-color;
    background-color: $secondary-color;
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;

    a {
      color: black;
    }

    .menu-text {
      font-size: 20px;
    }
  }
}

.tab {
  @extend .body-font;
  display: none;
  // margin-top: 20px;
  margin-bottom: 20px;
  &.active-tab {
    display: block;
  }
}

.homepage-top {
  background-image: url('images/photos/homepage.jpg');
  background-size: cover;

  padding-top: 50px;
  padding-bottom: 50px;

  hr {
    border-color: black;
    width: 50%;
    margin-left: 0;
    border-top: 3px solid black;
  }

  .homepage-box {
    @extend .body-font;
    background-color: rgba(255, 255, 255, 0.6);

    padding: $box-padding;
    box-shadow: $shadow;
    color: black;
    h4 {
      color: black;
    }
  }
}

.homepage-bottom {
  @extend .body-font;
  background-color: $secondary-color;
  padding-top: $box-padding;
  padding-bottom:$box-padding;
  margin-bottom: 20px;
}

.qa-row {
  a {
    &:hover {
      color: $primary-color;
    }
  }
}

.qa-row-summary {
  .question-toc-item {
    padding-left: 10px;
    a {
      color: black;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.qa-row, .qa-row-summary {
  margin-top: 20px;
  padding: $box-padding;
  background-color: $box-background-color;
  box-shadow: $shadow;

  h3 {
    display: inline;
    margin-right: 10px;
  }

  .question-title {
    margin-bottom: 10px;
  }
}

.report-content-top, .report-content-bottom, .data-content, .researchers-content, .project-methodology {
  padding: $box-padding;
  margin-top: 20px;
  box-shadow: $shadow;
}

.report-content-top, .data-content, .qa-row-summary {
  background-color: $primary-color;
  padding-top: 30px;
  padding-bottom: 30px;
  hr {
    border-color: black;
    width: 50%;
    margin-left: 0;
    border-top: 3px solid black;
  }
}

.report-content-bottom {
  background-color: white;
  padding: 30px;
}

.researchers-content {
  img {
    margin-bottom: 10px;
    max-height: 75px;
  }

  background-color: $box-background-color;
}

.search-container {
  background-color: $primary-color;
  padding-top: 30px;
  padding-bottom: $box-padding;
  box-shadow: $shadow;
  margin-top: $box-padding;

  .feature-selector-container {
    padding-bottom: 10px;
  }

  .feature-selector {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .feature-selector-feature {
    float: left;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 15px;
    cursor: pointer;
    width: 14%;

    div {
      // Hacky way to get text to center even if it's bigger than the div
      margin-left: -10%;
      margin-right: -10%
    }

    &.active {
      background-color: $tertiary-color;
      color: $secondary-color;
    }
  }
}

.top-nav-logo {
  height: 40px;
}

.download-data-container, .download-report-container {
  margin-top: 30px;
}

a.download-data {
  @extend .header-font;

  background-color: $primary-color;
  color: black;
  text-transform: uppercase;
  padding: {
    left: 50px;
    right: 50px;
  }

  &:hover {
    background-color: $secondary-color;
    color: $box-background-color;
  }
}

.download-report-container {
  margin-top: 70px;
}

.download-format-chooser {
  a {
    margin-right: 5px;
  }
  a:last-child {
    margin-right: 0;
  }
}

.features-list {
  h4 {
    padding-top: 20px;
    margin-bottom: 5px;
  }
}

.search-term {
  color: white;
}

.menu-link {
    font-weight: bold;
    margin-right: 10px;

    &:hover {
      background-color: white;
    }
    a {
      color: $tertiary-color;
      &:hover {
        color: $primary-color;
      }
    }
    &.active-link {
      background-color: $primary-color;
      a {
        color: $tertiary-color;
        &:hover {
          color: $tertiary-color;
          cursor: default;
        }
      }
  }
}

.footer {
  background-color: $tertiary-color;
  margin-bottom: 16px;
  p {
    @extend .body-font;
    margin: 0;
  }
}

.explore-info {
  font-size: 18px;
  margin-top: 20px;
}

.hovered-feature-info {
  text-align: center;
  background-color: $tertiary-color;
  padding: 10px;
  min-height: 191px;
  margin-bottom: 10px;
}

.row-feature {
  padding: 2px;
}
