@import 'foundation';
@import 'slick.scss';

// Custom dot size for slick-theme
// $slick-dot-size: 50px;
@import 'slick-theme.scss';

@include foundation-everything;

$primary-color: #966b54;
$secondary-color: #38180b;
$box-background-color: #ebebeb;
$tertiary-color: #FFFFFF;

.header-font {
  font-weight: bold;
  font: Helvetica, sans-serif;
  text-transform: uppercase;
}

.body-font {
  font-family: garamond;
}

// Padding for all the box-looking elements
$box-padding: 20px;

$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

body {
  background-color: $primary-color;
}

h1, h2, h3, h4, h5 {
  @extend .header-font;
  color: $secondary-color;
}

.active {
  background-color: $secondary-color;
}

.msi-info {
  background-color: $box-background-color;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: $box-padding;
  box-shadow: $shadow;

  h4 {
    margin-bottom: 0;
    margin-top: 5px;
  }
}

.nav {
  @extend .header-font;
  box-shadow: $shadow;

  .top-bar, .menu {
    color: $tertiary-color;
    background-color: $secondary-color;

    a {
      color: $tertiary-color;
    }

    .menu-text {
      font-size: 20px;
    }
  }
}

.tab {
  @extend .body-font;
  display: none;
  // margin-top: 20px;
  margin-bottom: 20px;
  &.active-tab {
    display: block;
  }
}

.homepage-top {
  background-image: url('images/photos/homepage.jpg');
  background-size: cover;

  padding-top: 50px;
  padding-bottom: 50px;

  .homepage-box {
    @extend .body-font;
    background-color: $primary-color;
    padding: $box-padding;
    box-shadow: $shadow;
    color: white;
    h4 {
      color: white;
    }
  }
}

.homepage-bottom {
  @extend .body-font;
  background-color: $secondary-color;
  color: white;
  padding-top: $box-padding;
  padding-bottom:$box-padding;
  margin-bottom: 20px;
}

.qa-row, .qa-row-summary {
  margin-top: 20px;
  padding: $box-padding;
  background-color: $box-background-color;
  box-shadow: $shadow;

  h3 {
    display: inline;
    margin-right: 10px;
  }

  a {
    color: $secondary-color;
    &:hover {
      color: $primary-color;
    }
  }

  .question-title {
    margin-bottom: 10px;
  }

  .question-toc-item {
    padding-left: 10px;
  }
}

.report-content-top, .report-content-bottom, .data-content, .researchers-content {
  background-color: $box-background-color;
  padding: $box-padding;
  margin-top: 20px;
  box-shadow: $shadow;
}

.report-content-top {
  padding-top: 30px;
  padding-bottom: 30px;
}

.report-content-bottom {
  padding: 30px;
}

.researchers-content {
  img {
    margin-bottom: 10px;
    height: 75px;
  }
}

.search-container {
  background-color: $box-background-color;
  padding-top: 30px;
  padding-bottom: $box-padding;
  box-shadow: $shadow;
  margin-top: $box-padding;

  .feature-selector {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .feature-selector-feature {
    float: left;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

    div {
      // Hacky way to get text to center even if it's bigger than the div
      margin-left: -10%;
      margin-right: -10%
    }

    &.active {
      background-color: $tertiary-color;
      color: $secondary-color;
    }
  }
}

.top-nav-logo {
  height: 40px;
}

.download-data-container {
  margin-top: 30px;
  background-color: $primary-color;
  padding-top: 20px;
  // box-shadow: $shadow;
}

.download-format-chooser {
  a {
    margin-right: 5px;
  }
  a:last-child {
    margin-right: 0;
  }
}

.features-list {
  h4 {
    margin-bottom: 5px;
  }
}

.search-term {
  color: $primary-color;
}

.menu-link {
    font-weight: bold;
    margin-right: 10px;

    &:hover {
      background-color: white;
    }
    a {
      color: $tertiary-color;
      &:hover {
        color: $primary-color;
      }
    }
    &.active-link {
      background-color: $primary-color;
      a {
        color: $tertiary-color;
        &:hover {
          color: $tertiary-color;
          cursor: default;
        }
      }
  }
}
